<section class="slider-section">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-item-1.jpg"
          alt="gallery-item"
          class="slide"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-item-2.jpg"
          alt="gallery-item"
          class="slide"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-item-3.jpg"
          alt="gallery-item"
          class="slide"
        />
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
