.slider-section {
    padding: 131px 65px;
    background-color: #000000;
}

.swiper {
    width: 1151px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.swiper-wrapper {
    width: 1038px;
    height: 504px;
    margin: 0 auto;
}

.swiper-slide img {
    border-radius: 8px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #F3F3F3;
    font-size: 23px;
}


.swiper-pagination {
    position: static;
}


.swiper-pagination-bullet {
    background: #6F6666;
    opacity: 1;
    width: 8px;
    height: 8px;
}

.swiper-pagination-bullet-active {
    background: #6F6666;
    border: 1px solid #F3F3F3;
    width: 6px;
    height: 6px;
}